In [32]:
# Libraries utilisées

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [33]:
# Importer le dataset
df = pd.read_csv('liste-des-musees-de-france-2021.csv',error_bad_lines=False,encoding='latin-1',sep=';')
df.head()

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
0,4540234591,3 bis f,109,Avenue du Petit Barthélémy,13617.0,Aix-en-Provence,France,fr,43.521207,5.439875,http://www.3bisf.com,contact@3bisf.com,33442161775,NaN,osm:museum;art:art contemporain,NaN,"44116,00764",NaN
1,4388745689,A casa di Losari,NaN,T 30,20226.0,Belgodère,France,fr,42.638732,9.007660,NaN,NaN,NaN,NaN,osm:museum,NaN,"43338,9394",NaN
2,4426176194,À l'homme volant,35,Grande Rue,72300.0,Sablé-sur-Sarthe,France,fr,47.839656,-0.334043,NaN,NaN,33243950736,NaN,osm:museum;type:centre d'interpretation,NaN,"42644,46366",NaN
3,7652598615,Abbadiale - Maison des arts,NaN,Rue du Gabizos,65400.0,Arras-en-Lavedan,France,fr,42.990826,-0.128057,https://www.abbadiale.fr/,NaN,33633170714,NaN,osm:museum,NaN,"44120,04668",NaN
4,121580330,Abbaye,NaN,Rue de l'Abbaye,39210.0,Château-Chalon,France,fr,46.753866,5.624296,NaN,NaN,NaN,NaN,osm:museum;art:architecture,NaN,"43102,54919",NaN

In [34]:
# Nombres d'observations et de colonnes
df.shape

(3784, 18)

 * Le dataset contient 18 colonnes et 3784 lignes.

In [35]:
# Informations sur les colonnes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3784 entries, 0 to 3783
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   osm_id        3784 non-null   int64
 1   name          3784 non-null   object
 2   number        743 non-null    object
 3   street        3771 non-null   object
 4   postal_code   3728 non-null   float64
 5   city          3782 non-null   object
 6   country       3784 non-null   object
 7   country_code  3784 non-null   object
 8   lat           3784 non-null   float64
 9   lon           3784 non-null   float64
 10  website       1636 non-null   object
 11  email         301 non-null    object
 12  phone         1211 non-null   object
 13  fax           0 non-null      float64
 14  tags          3782 non-null   object
 15  description   226 non-null    object
 16  date_added    3775 non-null   object
 17  wikidata      1147 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 532.2+ KB

In [37]:
# Statistiques de base
df.describe(include="all")

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
count,3.784000e+03,3784,743,3771,3728.000000,3782,3784,3784,3784.000000,3784.000000,1636,301,1211,0.0,3782,226,3775,1147
unique,NaN,3466,196,2932,NaN,2295,2,2,NaN,NaN,1585,295,1163,NaN,119,206,3331,1133
top,NaN,Musée des Beaux-Arts,1,Grande Rue,NaN,Paris,France,fr,NaN,NaN,http://www.ville-orleans.fr,musees@ville.angers.fr,33325868686,NaN,osm:museum,Ecomusée,"43940,5849",Q3329951
freq,NaN,23,73,34,NaN,175,3776,3776,NaN,NaN,4,3,4,NaN,2175,19,76,2
mean,2.193306e+09,NaN,NaN,NaN,48499.273069,NaN,NaN,NaN,46.531075,2.724237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.521168e+09,NaN,NaN,NaN,27982.341434,NaN,NaN,NaN,2.234572,2.897485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,5.107373e+06,NaN,NaN,NaN,1000.000000,NaN,NaN,NaN,41.498794,-5.129406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.451896e+08,NaN,NaN,NaN,25582.500000,NaN,NaN,NaN,44.542494,0.570318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.226927e+08,NaN,NaN,NaN,49730.000000,NaN,NaN,NaN,46.513252,2.563655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.982632e+09,NaN,NaN,NaN,71570.000000,NaN,NaN,NaN,48.639156,4.984839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8.394269e+09,NaN,NaN,NaN,590007.000000,NaN,NaN,NaN,51.053756,9.488302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 1.-Combien y-a-t-il de musées en France métropolitaine ?

In [54]:
nombre_musees_france = df["name"].value_counts().sum()
print()
print("Il y a {} musées en France Métropolitaine".format(nombre_musees_france))

Il y a 3784 musées en France Métropolitaine

#### 2.-Dans quelle(s) ville(s) y-a-t-il de plus de musées ?

In [58]:
museums_city = df.city.value_counts()[0:1]
print("Paris est la ville ayant plus de musées, elle en contient 175 musées.")

Paris est la ville ayant plus de musées, elle en contient 175 musées.

#### 3.-Quel est le nombre moyen de musées par ville ?

In [43]:
mean_museums_by_city = df['city'].value_counts().mean()
print("Les villes françaises ont, en moyenne, {0:.2f} musées.".format(mean_museums_by_city))

Les villes françaises ont, en moyenne, 1.65 musées.

#### 4.-Quel est le nombre médian de musées par ville ?

In [44]:
median_museum_by_city = df['city'].value_counts().median()
print("Le nombre median de musées par ville est de {0:.2f}.".format(median_museum_by_city))

Le nombre median de musées par ville est de 1.00.

#### 5.-Comment sont répartis les musées par type (en pourcentage) ?

In [64]:
repartition = df['tags'].str.replace('osm:museum;','')
repartition = 100*repartition.value_counts(normalize=True).sort_values(ascending=False).round(2)
print("La repartition des musées par type:\n{}".format(repartition.head(10)))

La repartition des musées par type:
osm:museum                                  58.0
type:ecomusee                               10.0
type:musee technique et industriel           5.0
type:musee d'histoire                        3.0
art:architecture                             3.0
art:prehistoire;type:musee archeologique     2.0
type:musee de beaux-arts                     2.0
type:musee d'art                             2.0
type:musee d'histoire naturelle              1.0
type:musee d'arts populaires                 1.0
Name: tags, dtype: float64

#### 6.-Combien y-a-t-il de musées dont le nom commence par "Château" ?

In [46]:
musee_chateau = df['name'].str.startswith('Château').value_counts().sort_values(ascending=True)
print(musee_chateau)

True       57
False    3727
Name: name, dtype: int64

* Il y a 57 musées dont leur nom commence par 'Château'.

#### 7.- Pour combien de musées dispose-t-on de l'adresse du site web ?

In [66]:
musees_website = df["website"].value_counts().sum()
print("Parmi les musées, {} d'entre eux ont des website.".format(musees_website))

Parmi les musées, 1636 d'entre eux ont des website.

#### 8.-Quel département français possède le plus de musées sur son territoire ?

In [48]:
df['postal_code'].value_counts()

75005.0    24
38000.0    21
33000.0    16
75007.0    16
75004.0    15
           ..
33290.0     1
9220.0      1
22340.0     1
34450.0     1
45590.0     1
Name: postal_code, Length: 2023, dtype: int64

In [49]:
df["departement"] = df['postal_code'].astype(str).str[0:2]
df['departement']
df["departement"].value_counts().idxmax()

'75'

* Paris est le département français ayant plus de musées sur son territoire.

#### 9.- Quel département français possède le moins de musées sur son territoire ?

In [50]:
df["departement"].value_counts().idxmin()

'98'

* Les departement 98 (TOM) possèdent moins de musées sur leur territoire.

#### 10.-Combien de musées ont "Napoléon" dans leur nom ?

In [31]:
musee_napoleon = df['name'].str.contains('Napoléon').value_counts()
print()
print(musee_napoleon)

False    3780
True        4
Name: name, dtype: int64

* Il y a 4 musées qui ont 'Napoléon' dans leur nom.

## Recommandations

* Analyse des fréquentations afin d'analyser les périodes de fortes fréquentations.
* Analyse des profils sociologiques des visiteurs et leur provenance.